<form id="beneficiarioForm" class="form" role="form" autocomplete="off"  th:object="${beneficiarioForm}" th:action="${signup}?@{/signup}:(${editMode} ?@{/modificarBeneficiario} :@{/beneficiarioCliente})" method="post">
<div class="form-group row">
	<div class="alert alert-danger text-center" th:if="${formErrorBenefMessage}" th:text="${formErrorBenefMessage}">Error MEssage</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Success MEssage</div>
<table class="table">
	<tbody>
		<tr th:each="benef, rowBenef : *{beneficiariosTitular}">
		
			<td>
			<br>
			
	
			<div class="col-md-12 bg-info rounded">
			<label class="col-md-4 col-form-label form-control-label" th:text="Beneficiario + ': ' + ${rowBenef.count}"></label>
			</div>
			<hr class="style2">
			<div class="form-group row">
				<label class="col-md-4 col-form-label form-control-label">Nombre(s) Beneficiario</label>
				<div class="col-md-8">
					<input class="form-control" type="text" th:field="*{beneficiariosTitular[__${rowBenef.index}__].nombre}" th:disabled="${disableFields}"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-4 col-form-label form-control-label">Apellido Paterno</label>
				<div class="col-md-8">
					<input class="form-control" type="text" th:field="*{beneficiariosTitular[__${rowBenef.index}__].appPBenef}" th:disabled="${disableFields}"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-4 col-form-label form-control-label">Apellido Materno</label>
				<div class="col-md-8">
					<input class="form-control" type="text" th:field="*{beneficiariosTitular[__${rowBenef.index}__].appMBenef}" th:disabled="${disableFields}"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-4 col-form-label form-control-label">Fecha de Nacimiento</label>
				<div class="col-md-8">
					<input class="form-control" type="date" th:field="*{beneficiariosTitular[__${rowBenef.index}__].fchNacimiento}" th:disabled="${disableFields}">
				</div>
			</div>
			
			<div class="form-group row">
				<label th:text="Parentesco" class="col-md-4 col-form-label form-control-label"></label>
				<div class="col-md-8">
					<select class="form-control" th:size="${signup}?1:1" th:field="*{beneficiariosTitular[__${rowBenef.index}__].parentesco.idParentesco}" th:disabled="${disableFields}">
						<option disabled value="">-----Seleccionar-----</option>
						<option th:each="parenVar : ${listaParentescos}" th:value="${parenVar.idParentesco}" th:text="${parenVar.descPar}">
						</option>
					</select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-md-4 col-form-label form-control-label">Enfermedades Preexistentes</label>
				<div class="col-md-8">
					<input class="form-control" type="text" th:field="*{beneficiariosTitular[__${rowBenef.index}__].enfePreexiste}" th:disabled="${disableFields}"/>
				</div>
			</div>
			
			<div class="form-group row" style="display: none">
				<label th:text="Asegurar" class="col-md-4 col-form-label form-control-label"></label>
				<div class="col-md-8">
					<select class="form-control" th:size="${signup}?1:1" th:field="*{beneficiariosTitular[__${rowBenef.index}__].asegurado}" th:disabled="${disableFields}">
						<option disabled value="">-----Seleccionar-----</option>
						<option th:each="aseguradoVar :${listaAsegurados}" th:value="${aseguradoVar}" th:text="${aseguradoVar.sino}">
						</option>
					</select>
				</div>
			</div>			
					<div class="form-check">
					<input class="form-check-input" type="checkbox" th:field="*{beneficiariosTitular[__${rowBenef.index}__].registrar}" th:disabled="${disableFields}">
				    <label class="form-check-label">Registrar/Actualizar</label> 
				    <input class="form-control" type="hidden" th:value="1" th:field="*{beneficiariosTitular[__${rowBenef.index}__].activo}" th:disabled="${disableFields}">  
					<input class="form-control" type="hidden" th:field="*{beneficiariosTitular[__${rowBenef.index}__].idBeneficiario}" th:disabled="${disableFields}">
					<input class="form-control" type="hidden" th:field="*{beneficiariosTitular[__${rowBenef.index}__].clientes.rfc}" th:disabled="${disableFields}">
					<input class="form-control" type="hidden" th:field="*{beneficiariosTitular[__${rowBenef.index}__].anioAsegurado}" th:disabled="${disableFields}">
					<input class="form-control" type="hidden" th:field="*{beneficiariosTitular[__${rowBenef.index}__].costoAsegurado}" th:disabled="${disableFields}">
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			
			<!-- <a id="validaform" class="btn btn-secondary">Validar</a> -->
			<a class="btn btn-secondary"  th:href="@{'/clienteForm/cancelar'}">Regresar</a>
			
			<input type="submit" class="btn btn-primary"
				value="Guardar Cambios" th:value="${editMode}?'Modificar Cliente':'Guardar Beneficiario(s)'" th:disabled="${disableFields}">
			
			<a class="btn btn-outline-secondary" href="#" th:href="@{'/nuevoConvenio/'+ ${rfcpass}}"><i class="fas fa-file-alt"></i> Ir a Convenio</a>
			<!-- <input class="form-control" type="text" th:value="${rfcpass}" th:field="*{rfcpassdto}" th:disabled="${disableFields}">  -->
			<input id="rfcpassdto" name="rfcpassdto" class="form-control" type="hidden" th:value="${rfcpass}" th:disabled="${disableFields}">
		</div>
	</div>
</form>