<div class="table-responsive">
	<table id="clienteList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">Editar Afiliado</th>
			<th scope="col">Agregar Beneficiario</th>
			<th scope="col">Ir a Convenio</th>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">App Paterno</th>
			<th scope="col">App Materno</th>
			<th scope="col">Correo Eletrónico</th>
			<th scope="col">Folio IFE</th>
			<th scope="col">RFC</th>
			<th scope="col">CURP</th>
			<th scope="col">Enfermedades Preexistentes</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="cliente: ${clienteList}">
			<td>
					<div>
					
					<a class="btn btn-outline-primary" href="#" th:href="@{'/modificarCliente/'+ ${cliente.idCliente}}"><i class="fas fa-edit"></i> Editar</a>
					<!-- <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${cliente.idCliente} +'\');'"><i class="fas fa-user-times"></i></a> -->
					</div>
					
					
			
			<td>
			<div>
					<a class="btn btn-outline-success" href="#" th:href="@{'/beneficiarioCliente/'+ ${cliente.rfc}}"><i class="fas fa-user-plus"></i> Agregar</a>
					</div>
			</td>
			<td>
				<div>
				<a class="btn btn-outline-secondary" href="#" th:href="@{'/nuevoConvenio/'+ ${cliente.rfc}}"><i class="fas fa-file-alt"></i> Convenio</a>
				</div>
			</td>
			<td th:text="${cliente.idCliente}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.appP}"></td>
			<td th:text="${cliente.appM}"></td>
			<td th:text="${cliente.correoElect}"></td>
			<td th:text="${cliente.folioife}"></td>
			<td th:text="${cliente.rfc}"></td>
			<td th:text="${cliente.curp}"></td>
			<td th:text="${cliente.enfePreexiste}"></td>
		</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Mensaje de Error</div>
</div>
<br>
<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#clienteIdHiddenInput").val(id);
}
//function deleteUser(){
function eliminarCliente(){
	var id = $("#clienteIdHiddenInput").val();
    //window.location = "deleteUser/"+id;
	window.location = "eliminarCliente/"+id;
}
</script>